<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Customer Directory</title>
</head>
<body>
<div class="container">
    <h3>Customer Directory</h3>
    <hr>
    <a th:href="@{/customers/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Customer
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempCustomer : ${customers}">
            <td th:text="${tempCustomer.firstName}"/>
            <td th:text="${tempCustomer.lastName}"/>
            <td th:text="${tempCustomer.email}"/>
            <td>
                <a th:href="@{/customers/showFormForUpdate(customerId=${tempCustomer.id})}" class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/customers/delete(customerId=${tempCustomer.id})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <form  th:action="@{/logout}" method="post" >
        <input  type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>