<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Save Customer</title>
</head>
<body>
<div class="container">
    <h3>Customer Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Customer</p>
    <form action="#" th:action="@{/customers/save}" th:object="${customer}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name">
        <input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/customers/list}">Back to Customer List</a>
</div>
</body>
</html>>